<?xml version="1.0"?>
<launch>
    <!-- Map server -->
  <arg name="map_file" default="$(find innok_heros_gazebo)/maps/test_map_021.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  
  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find innok_heros_gazebo)/rviz/rviz_rb.rviz"/>
  
</launch>
