<?xml version="1.0"?>
<launch>

  <node pkg="rviz" type="rviz" name="rviz"/>

  <node pkg="gmapping" type="slam_gmapping" name="gmapping">
        <param name="base_frame" value="base_link"/>
        <param name="odom_frame" value="odom" />
        <param name="delta" value="0.1" />
  </node>

</launch>



































































