<?xml version="1.0"?>
<launch>
  <!-- Map server -->
  <arg name="map_file" default="$(find innok_heros_gazebo)/maps/test_map_021.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Place map frame at odometry frame -->
  <!--node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
      args="0 0 0 0 0 0 map odom 100"/-->

  <!-- Localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="min_particles"             value="500"/>
    <param name="max_particles"             value="3000"/>
    <param name="kld_err"                   value="0.02"/>
    <param name="update_min_d"              value="0.20"/>
    <param name="update_min_a"              value="0.20"/>
    <param name="resample_interval"         value="1"/>
    <param name="transform_tolerance"       value="0.5"/>
    <param name="recovery_alpha_slow"       value="0.00"/>
    <param name="recovery_alpha_fast"       value="0.00"/>
    <param name="gui_publish_rate"          value="50.0"/>
    <remap from="scan"                      to="scan_filtered"/>
    <remap from="odom"                      to="odometry/filtered"/> <!-- odometry/filtered -->
    <param name="laser_max_range"           value="3.5"/>
    <param name="laser_max_beams"           value="180"/>
    <param name="laser_z_hit"               value="0.5"/>
    <param name="laser_z_short"             value="0.05"/>
    <param name="laser_z_max"               value="0.05"/>
    <param name="laser_z_rand"              value="0.5"/>
    <param name="laser_sigma_hit"           value="0.2"/>
    <param name="laser_lambda_short"        value="0.1"/>
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="laser_model_type"          value="likelihood_field"/>
    <param name="odom_model_type"           value="diff"/>
    <param name="odom_alpha1"               value="0.1"/>
    <param name="odom_alpha2"               value="0.1"/>
    <param name="odom_alpha3"               value="0.1"/>
    <param name="odom_alpha4"               value="0.1"/>
    <param name="odom_frame_id"             value="odom"/>
    <param name="base_frame_id"             value="base_footprint"/>
  </node>

  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find innok_heros_gazebo)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find innok_heros_gazebo)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find innok_heros_gazebo)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find innok_heros_gazebo)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find innok_heros_gazebo)/config/base_local_planner_params.yaml" command="load" />
    
    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odometry/filtered"/> <!-- odometry/filtered -->
    <remap from="scan" to="scan_filtered"/>
    <param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="0.01"/>
    <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="0.01"/>
  </node>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find innok_heros_gazebo)/rviz/rviz_rb.rviz"/>
</launch>


