<?xml version="1.0"?>
<launch>

  <arg name="wheels" default="4"/>	<!-- "3" or "4" -->
  <arg name="tyre_type" default=""/>	<!-- "default" or "tractor" -->
  <arg name="open_rviz" default="true"/>

  <param name="robot_description"
     command="$(find xacro)/xacro --inorder '$(find innok_heros_description)/urdf/innok_heros_$(arg wheels)w$(arg tyre_type).xacro'" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mybot_description)/rviz/amcl.rviz"/>
</launch>
