<?xml version="1.0"?>

<launch> 

  <!-- Map server -->
  <arg name="map_file" default="$(find innok_heros_gazebo)/maps/test_map_021.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find innok_heros_gazebo)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find innok_heros_gazebo)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find innok_heros_gazebo)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find innok_heros_gazebo)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find innok_heros_gazebo)/config/base_local_planner_params.yaml" command="load" />
    
    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odometry/filtered"/> 
    <remap from="scan" to="scan_filtered"/>
    
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="use_dijkstra" value="true" />
    <param name="controller_frequency" value="10.0" />
    <param name="planner_frequency" value="5.0" />
  </node>

  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find innok_heros_gazebo)/rviz/amcl.rviz"/>
</launch>
