<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">

<xacro:macro name="imu_sensor" params="*origin parent">
    <joint name="imu_joint" type="fixed">
        <axis xyz="0 0 1" />
        <xacro:insert_block name="origin" />
        <parent link="${parent}"/>
        <child link="imu_link"/>
    </joint>
     
    <link name="imu_link">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.02 0.02"/>
            </geometry>
        </collision>
        <visual>
		<origin rpy="0 0 1.57079632679" xyz="0 0 0"/>
      		<geometry>
        		<mesh filename="package://innok_heros_description/meshes/MTi_10.stl" scale="0.001 0.001 0.001"/>
      		</geometry>
      		<material name="xsens_orange">
       			 <color rgba="0.92 0.45 0.02 1.0"/>
      		</material>
        </visual>
        <inertial>
            <mass value="0.001" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0.00000015" ixy="0" ixz="0" iyy="0.00000015" iyz="0" izz="0.00000015" />
        </inertial>
    </link>

    <gazebo reference="imu_link">
	<material>Gazebo/Orange</material>
        <gravity>true</gravity>
        <sensor name='imu_sensor' type='imu'>
            <always_on>1</always_on>
            <update_rate>1000</update_rate>
            <visualize>1</visualize>
            <topic>__default_topic__</topic>
            <plugin name='imu_plugin' filename='libgazebo_ros_imu_sensor.so'>
                <topicName>imu_data</topicName>
                <!-- bodyName>imu_sensor_link</bodyName -->
		<frameName>imu_link</frameName>
                <updateRateHZ>10.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>
</xacro:macro>
  
</robot>
