<?xml version="1.0"?>
<launch>

  <arg name="wheels" default="4"/>	<!-- "3" or "4" -->
  <arg name="tyre_type" default=""/>	<!-- "default" or "tractor" -->

  <!-- Send the Innok Heros URDF/XACRO to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py --inorder '$(find innok_heros_description)/urdf/innok_heros_$(arg wheels)w$(arg tyre_type).xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <node name="lms100" pkg="lms1xx" type="LMS1xx_node" respawn="true">
  	<param name="host" type="string" value="192.168.0.25"/>
  </node>
  <node name="lms100_back" pkg="lms1xx" type="LMS1xx_node" respawn="true">
        <param name="host" type="string" value="192.168.0.26"/>
        <remap from="scan" to="scan_back"/>
  </node>

  <node pkg="innok_heros_driver" type="innok_heros_can_driver" name="heros_node" args="_device:=can0" respawn="true"/>
  
  <!-- Config file for Rviz   -->
  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find innok_heros_description)/launch/innok_heros.rviz"/-->

</launch>
